<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trxbewi_urdf">
  
  <!-- parameters -->
  <xacro:arg name="use_simulation" default="false" />
  <xacro:arg name="use_controllers" default="true" />

 <!-- Import Common properties-->
  <xacro:include filename="$(find trxbewi_description)/urdf/common_properties.xacro" />

  <!-- Import trxbewi mobile base -->
  <xacro:include filename="$(find trxbewi_description)/urdf/trx4_base.xacro" />

  <!-- Import Sensors 
  <xacro:include filename="$(find trxbewi_description)/urdf/sensors.xacro" />
  -->

  <!-- Import controller manager and hardware interfaces -->
  <xacro:if value="$(arg use_controllers)">
    <xacro:include filename="$(find trxbewi_control)/xacro/trxbewi.ros2_control.xacro" />
  </xacro:if>

  <!-- Import if use simulation -->
  <xacro:if value="$(arg use_simulation)">
    <xacro:include filename="$(find trxbewi_simulation)/xacro/trxbewi.gazebo.xacro" />
  </xacro:if>

  <link name="base_link">
    <visual>
      <geometry>
          <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
    </collision>
    <xacro:sphere_inertia m="0.0001" r="0.001"
    xyz="0 0 0" rpy="0 0 0" />
  </link>

  <joint name="$trxbewi_joint" type="fixed">
    <parent link="base_link" />
    <child link="chassis" />
  </joint>

</robot>