<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="use_imu" default="false" />

    <!-- IMU   -->
    <xacro:if value="$(arg use_imu)">
        <gazebo>
            <plugin filename="libignition-gazebo-imu-system.so"
                    name="ignition::gazebo::systems::Imu">
            </plugin>
        </gazebo>
        <xacro:include filename="$(find trxbewi_simulation)/macros/imu.xacro" />
        <xacro:imu name="wtgahrs1" hz="50" topic="imu/wtgahrs1" />
        <xacro:imu name="wt901" hz="50" topic="imu/wt901" />
        <xacro:imu name="wt31n" hz="50" topic="imu/wt31n" />
    </xacro:if>

    <!-- controller manager and hardware interfaces -->
    <xacro:if value="$(arg use_controllers)">
        <gazebo>
            <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find trxbewi_control)/config/controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>